Package: com.jentle.tweakweibo
Name: tweak_weibo
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jentle
Author: Jentle
Section: Tweaks
Version: 0.0.1-8+debug
Installed-Size: 152
